.test1 {
  background-color: "[theme:white, default:#ffffff]";
  color: "[theme:themePrimary, default:#0078d4]";
  padding: 0.5rem;
}

.container{

  font: 100px;


};

.row{
font: 100px;

};

.column{

  font: 100px;

}

.title{

  font: 100px;

}

.subTitle{

  font: 100px;


}

.label{

  font: 100px;

}
.subTutle{
  font: 100px;


}

.button{

  font: 100px;


}


.welcomeWebpartsJs{
  font: 100px;


}